
	/* HELPERS */
	/* ----------------------------------------- */

    @each $index in $fonts {
      $i: index($fonts,$index);
      .font#{$i} {
        font-family:$index;
      }
    }

    @each $key, $value in $colors {
        .bg-#{$key} {
            background: $value;
        }

        .color-#{$key} {
            color: $value;
        }

    }