html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(12,9,29);
}
canvas {
    border: 1px soild black;
}
*{
    outline: none !important;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 600px;
    background: rgba(71,49,93,.3);
    border-radius: 50%;
    width: 600px;
    height: 600px;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%,-50%);
    color: rgba(255,255,255,.8);
    min-width: 500px;
    text-align: center;
    font-size: 1.3rem;
    h1 {
        text-align: center;
        display: inline-block;
        padding: 1rem;
        font-size: 3rem;
        //font-family: 'Megrim', cursive;
    }
    p{
        padding: 0.5rem;
    }
    .input-group{

        margin: 3rem;
        position: relative;

        input{
            width: 100%;
            height: 60px;
            border-radius: 10px;
            border: 3px solid #47315D;
            background-color: transparent;
            color: #fff;
            letter-spacing: 3px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857;
            box-sizing: border-box;
            &:focus{
                background: rgba(71,49,93,.1);
            }
        }
        button{
            color: #fff;
            top: 0;
            right: 0;
            position: absolute;
            height: 60px;
            padding: 6px 12px;
            border: none;
            background-color: #47315D;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}