/* TYPOGRAPHY */
/* ----------------------------------------- */
@font-face {
    font-family: 'AgendaMedium';
    src: url('../fonts/AgendaMedium/AgendaMedium.eot');
    src: url('../fonts/AgendaMedium/AgendaMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AgendaMedium/AgendaMedium.woff') format('woff'),
    url('../fonts/AgendaMedium/AgendaMedium.ttf') format('truetype'),
    url('../fonts/AgendaMedium/AgendaMedium.svg#rsuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgendaLight';
    src: url('../fonts/AgendaLight/AgendaLight.eot');
    src: url('../fonts/AgendaLight/AgendaLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AgendaLight/AgendaLight.woff') format('woff'),
    url('../fonts/AgendaLight/AgendaLight.ttf') format('truetype'),
    url('../fonts/AgendaLight/AgendaLight.svg#rsuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}